@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");

* {
  font-family: "Noto Sans JP", "Noto Sans KR";
}

body {
  margin: unset;
  overflow: hidden;
}

header {
  height: 36px;
  padding: 0 8px;
  margin: 12px 0;

  display: flex;
  align-items: center;

  font-size: 20px;
  font-weight: 700;

  span {
    // due to Chrome 96 bug (Issue 1266022)
    font-weight: 400;
  }
}
