#search {
  position: fixed;
  bottom: -345px;
  width: 100%;
  background-color: white;

  #opener {
    height: 48px;
    display: flex;
    box-shadow: 0 -5px 10px -5px black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #options {
    height: 340px;
    margin: 0 8px;

    .option-name {
      margin-left: 8px;
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: bold;
    }

    .option-item {
      margin: 8px 0;
    }

    input[type="text"] {
      width: 200px;
      margin-left: 8px;
      border: 1px grey solid;
      border-radius: 6px;
    }

    input[type="checkbox"] {
      display: none;
    }

    label {
      @media (min-width: 640px) {
        font-size: 16px;
      }

      margin: 0 6px;
      border-radius: 16px;
      padding: 4px 12px;
      font-size: 0.8rem;
      cursor: pointer;
      user-select: none;
      color: white;
      background-color: #c8c8c8;
    }

    label.checked {
      &.cute {
        background-color: #f6006e;
      }
      &.cool {
        background-color: #036bfb;
      }
      &.passion {
        background-color: #fbb127;
      }

      background-color: #528bff;
    }
  }

  &.open {
    animation: open 0.7s ease-out forwards;
  }

  &.close {
    animation: close 0.7s ease-out forwards;
  }

  #arrow.open {
    animation: arrowOpen 0.3s ease-out forwards;
  }

  #arrow.close {
    animation: arrowClose 0.3s ease-out forwards;
  }

  @keyframes open {
    0% {
      bottom: -345px;
    }
    100% {
      bottom: 0;
    }
  }

  @keyframes close {
    0% {
      bottom: 0;
    }
    100% {
      bottom: -345px;
    }
  }

  @keyframes arrowOpen {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes arrowClose {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}
